*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
<style type="text/css"> 
a {color:#FF1493;} 
a:visited {color:#FF34B3;} 
a:active {color:#FFB6C1;} 
a:hover {color:#FF1493;} 
</style>
/*---Header---*/
.img-logo{
    width: 250px;
    height: 124px;
    padding-bottom: 10px;
}


a.navbar-brand {
    width: 250px;
    height: 124px;
}

li.nav-item.dropdown{
    list-style: none;
}


header.navbar.navbar-expand-lg{
    background-color:#f3f3f3;
}

a.nav-link{
    font-size: 1,90em;
    padding: 0.5em;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

a.nav-link:hover{
    background-color: #ED6A3B;
    border-radius: 0.33em;

}


/*---boton busqueda---*/
.btn.btn-outline-success.justify-content-end {
    color: black;
    border-color: #ED6A3B;

}

.btn.btn-outline-success.justify-content-end:hover{
    color: black;
    background-color: #ED6A3B;
}

/*--- Barra de busqueda---*/


input{
    margin: 5px;
    padding: 10px;
}

/*---main---*/

main{
    background-color:#ED6A3B;
    width: auto;
    height: auto;
}



/*---carousel---*/

div.carousel-indicators{
    justify-content: center;
}

/*---Marcas ---*/

.marcas-sponsor{
display: grid;
padding: 18px;
background-color: #e5e5e5;
justify-items: center;
align-content: space-evenly;
max-width: 100vw;
height: auto;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
}

/*--- Contenido Main ---*/

.img-oferta{
    width: 900px;
    margin: 10px;
    padding: 20px;

}

div.row{
    justify-content: center;
}


.img-componente{
    margin: 29px;
    padding: 10px;
    
}


div.componetes.row{
    width: auto;
    height: auto;
    margin: 20px;
    padding: 50px;
}


.componentes.col{
    margin: 15px;
    width: auto;
    height: auto;
    padding: 20px;
}

/*--- Footer---*/

.bg-footer{
    background-color: #fbeed3;

}


div.d-flex{
    align-items: center;
}

h2.h2-footer{
    text-align: center;
}


.seccionesfooter{
    list-style: none;
}
